#header{
	position: relative;
	right: 55px;
}

#submit{
	float: left;
}

#brewery-list{

}

#list-item{
	display: inline;
}

#country-field{
	display: none;
}

#fields{
	position: relative;
	left: 100px;
}

#region-field{
	position: relative;
	margin-left: 60px
}

#city-field{
	position: relative;
	margin-left: 80px
}

.item-container{
	display: inline-block;
	position: relative;
	margin-bottom: 20px;
	left: 75px;
}